* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.l1{
  display: inline-flex;
  clear: left;
  width: 250px;
  text-align: right;
  font-size: 13px;
}

.inputSame {
  width: 50%;
  padding: 5px;
  font-size: 13px;
}

#alginRight {
  text-align: right;
  margin-right: 5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}



#showcase {
    height: 100vh;
    background: linear-gradient(-30deg, #3a41d6, #6a359c);
}

.marginTop {
  margin-top: 50px;
}
/* @media screen and (min-width: 576px) {


    nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-top: 0;
    }

    nav ul a {
        font-size: 1rem;
        text-transform: uppercase;
    }

    nav ul a:hover {
        opacity: 0.7;
    }
} */

.marginBody {
  margin-left: 20px;
}




*{
	margin:0;
	padding:0;
}

body{
	font-family:'Tahoma', sans-serif;
	color:#666;
	font-size:16px;
	background:#f9f9f9;
	line-height:1.6em;
    width: 100%;
}



input[type=text], select, textarea {
  padding: 6px;
  font-size: 13px;
  width: 50%;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 15px;
  margin-bottom: 15px;
  resize: vertical;
}
input[type=submit] {
  font-size: 13px;
  background-color: #4CAF50;
  color: white;
  width: 70%;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #45a049;
}
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}


button {
  width: 50%;
  margin: 0 auto;
    display: block;
}
form {
  margin-left: 140px;
}