<nav>
  <ul>
    <li><a href="#">Home</a></li>
    <li><a routerLink="./" fragment="newPatient">New Patient Details</a></li>
    <li><a href="#">Edit Patient Details</a></li>
    <li><a href="#">Search Patient Details</a></li>
    <li><a href="#">All Patient Details</a></li>
    <li><a href="#">About Admin</a></li>
  </ul>
</nav>

<section id="showcase">
</section>
<div id="newPatient" > </div>
<div class="marginTop"></div>
   <header class="jumbotron">
        <h1 class="text-center display-3" > Patient's Details </h1>
    </header>
<br>
    <div class="marginBody">
   <p id="alginRight" ><strong> Date: </strong> {{d | date}}</p>


    <div class="container">
        <form id="survey-form">
            <div class="form-group d-flex">
            <h5>  <label for="patient" class="l1"> <strong> Name: </strong>&nbsp;</label></h5>
                <input class="form-control" id="patient" type="text" id="name" placeholder="Patient's Name" [(ngModel)]="name" > {{name}}
            </div>

<br>
            <div class="form-group d-flex">
                <h5>  <label for="gender" class="l1"> <strong> Gender: </strong>&nbsp;</label></h5>
                <select class="form-control inputSame" id="gender" [(ngModel)]="gen">
                  <option value=" ">Select</option>
                    <option value="m" >Male</option>
                    <option value="f" >Female</option>
                </select>
            </div>
<br>
            <div class="form-group d-flex">
                <h5>  <label for="specimen" class="l1"> <strong>Specimen: </strong>&nbsp;</label></h5>
                    <input class="form-control" id="specimen" type="text" id="name" placeholder="Enter Specimen" [(ngModel)]="spec">
                </div>
<br>

            <div class="form-group d-flex">
                <h5>  <label for="srno" class="l1"> <strong>Ph no: </strong>&nbsp;</label></h5>
                    <input class="form-control" id="srno" type="text" id="name" placeholder="Enter Ph. No." [(ngModel)]="phNum">
                </div>
            <br>
            <div class="form-group d-flex">
                <h5>  <label for="refDr" class="l1"> <strong>Ref. By Dr: </strong>&nbsp;</label></h5>
                    <input class="form-control" id="refDr" type="text" id="name" placeholder="Dr. Name">
                </div>
            <br>
            <br>


        </form>
        </div>
</div>


<header class="jumbotron">
  <h1 class="text-center display-3" >Enter Report Below</h1>
</header>
<br>


<div id="container">
    <ul class="faq">
        <li class="q"><img src="../../assets/arrow.png"> HEAMATOLOGICAL REPORT</li>
        <div class="cont_a">
            <form action="/action_page.php">
                <div class="row">
                    <div class="col-25">
                      <label for="fname" class="h4"><span class="sp1"> Heamoglobin</span></label>
                    </div>
                    <div class="col-75">
                      <input type="text" id="fname" name="ele1" [(ngModel)]="h1">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-25">
                      <label for="fname" class="h4"><span class="sp1"> T.L.C</span></label>
                    </div>
                    <div class="col-75">
                      <input type="text" id="fname" name="ele2" [(ngModel)]="h2">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-25">
                      <label for="fname" class="h4"><span class="sp1"> D.L.C</span></label>
                    </div>
                    <div class="col-75">
                      <input type="text" id="fname" name="ele3" [(ngModel)]="h3">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-25">
                      <label for="fname" class="h4"><span class="sp1"> Neutrophils</span></label>
                    </div>
                    <div class="col-75">
                      <input type="text" id="fname" name="ele4" [(ngModel)]="h4">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-25">
                      <label for="fname" class="h4"><span class="sp1"> Lymphocytes</span></label>
                    </div>
                    <div class="col-75">
                      <input type="text" id="fname" name="ele5" [(ngModel)]="h5">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-25">
                      <label for="fname" class="h4"><span class="sp1"> Monocytes</span></label>
                    </div>
                    <div class="col-75">
                      <input type="text" id="fname" name="ele6" [(ngModel)]="h6">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-25">
                      <label for="fname" class="h4"><span class="sp1"> Eosinophills</span></label>
                    </div>
                    <div class="col-75">
                      <input type="text" id="fname" name="ele7" [(ngModel)]="h7">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-25">
                      <label for="fname" class="h4"><span class="sp1"> Basophils</span></label>
                    </div>
                    <div class="col-75">
                      <input type="text" id="fname" name="ele8" [(ngModel)]="h8">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-25">
                      <label for="fname" class="h4"><span class="sp1"> M.P Card</span></label>
                    </div>
                    <div class="col-75">
                      <input type="text" id="fname" name="ele9" [(ngModel)]="h9">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-25">
                      <label for="fname" class="h4"><span class="sp1"> E.S.R</span></label>
                    </div>
                    <div class="col-75">
                      <input type="text" id="fname" name="ele10" [(ngModel)]="h10">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-25">
                      <label for="fname" class="h4"><span class="sp1"> R.B.C</span></label>
                    </div>
                    <div class="col-75">
                      <input type="text" id="fname" name="ele11" [(ngModel)]="h11">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-25">
                      <label for="fname" class="h4"><span class="sp1"> Paletelet Count</span></label>
                    </div>
                    <div class="col-75">
                      <input type="text" id="fname" name="ele12" [(ngModel)]="h12">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-25">
                      <label for="fname" class="h4"><span class="sp1"> Absoulte Eosinophills</span></label>
                    </div>
                    <div class="col-75">
                      <input type="text" id="fname" name="ele13" [(ngModel)]="h13">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-25">
                      <label for="fname" class="h4"><span class="sp1"> Bleeding Time</span></label>
                    </div>
                    <div class="col-75">
                      <input type="text" id="fname" name="ele14" [(ngModel)]="h14">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-25">
                      <label for="fname" class="h4"><span class="sp1"> Coagulation Time</span></label>
                    </div>
                    <div class="col-75">
                      <input type="text" id="fname" name="ele15" [(ngModel)]="h15">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-25">
                      <label for="fname" class="h4"><span class="sp1"> Blood Group</span></label>
                    </div>
                    <div class="col-75">
                      <input type="text" id="fname" name="ele16" [(ngModel)]="h16">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-25">
                      <label for="fname" class="h4"><span class="sp1"> Sputum for AFB</span></label>
                    </div>
                    <div class="col-75">
                      <input type="text" id="fname" name="ele17" [(ngModel)]="h17">
                    </div>
                  </div>
                <input type="submit" value="Submit" (click)="onSubmit()" class="sub">
            </form>
        </div>
        <li class="q"><img src="../../assets/arrow.png"> URINE EXAMINATION REPORT</li>
        <div class="cont_a">
                <form action="/action_page.php">
                    <div class="row">
                        <div class="col-25">
                          <label for="fname" class="h4"><span class="sp1"> Blood Glucose Fasting</span></label>
                        </div>
                        <div class="col-75">
                          <input type="text" id="fname" name="ele1">
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-25">
                          <label for="fname" class="h4"><span class="sp1"> Blood Glucose(PP)</span></label>
                        </div>
                        <div class="col-75">
                          <input type="text" id="fname" name="ele2">
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-25">
                          <label for="fname" class="h4"><span class="sp1"> Blood Glucose Random</span></label>
                        </div>
                        <div class="col-75">
                          <input type="text" id="fname" name="ele3">
                        </div>
                      </div>
                    <input type="submit" value="Submit" class="sub">
                </form>
        </div>
        <li class="q"><img src="../../assets/arrow.png"> LIQUID PROFILE</li>
        <div class="cont_a">
                <form action="/action_page.php">
                   <label for="chol">S. Cholesrerol:</label>  <input type="text" name="ele1"><br>
                    <label for="chol"> S. HDL Cholesrerol:</label> <input type="text" id="chol" name="ele2"><br>
                    S. VLDL Cholesrerol: <input type="text" name="ele3"><br>
                    S. LDL Cholesrerol: <input type="text" name="ele4"><br>
                    S. Triglycerides: <input type="text" name="ele5"><br>
                    S. Chol HDL Ratio: <input type="text" name="ele6"><br>
                    S. LDL HDL Ratio: <input type="text" name="ele7"><br>
                    <input type="submit" value="Submit" class="sub">
                </form>
        </div>
        <li class="q"><img src="../../assets/arrow.png"> LIVER FUNCTION TEST</li>
        <div class="cont_a">
                <form action="/action_page.php">
                    Serum G.O.t(AST): <input type="text" name="ele1"><br>
                    Serum G.P.T(ALT): <input type="text" name="ele2"><br>
                    Total S. Bilirubin: <input type="text" name="ele3"><br>
                    Direct: <input type="text" name="ele4"><br>
                    Indirect: <input type="text" name="ele5"><br>
                    S. Alk Phosphatase: <input type="text" name="ele6"><br>
                    S. Total Proteins: <input type="text" name="ele7"><br>
                    Albumin: <input type="text" name="ele8"><br>
                    Globulin: <input type="text" name="ele9"><br>
                    AG Ratio: <input type="text" name="ele10"><br>
                    <input type="submit" value="Submit" class="sub">
                </form>
        </div>
        <li class="q"><img src="../../assets/arrow.png"> RENAL FUNCTION TEST</li>
        <div class="cont_a">
                <form action="/action_page.php">
                    Blood Urea: <input type="text"  name="ele1"><br>
                    S. Creatinine: <input type="text" name="ele2"><br>
                    S. Uric Acid: <input type="text" name="ele3"><br>
                    S. Phosphorus: <input type="text" name="ele4"><br>
                    S. Calcium: <input type="text" name="ele5"><br>
                    S. Magnesium: <input type="text" name="ele6"><br>
                    <input type="submit" value="Submit" class="sub">
                </form>
        </div>
        <li class="q"><img src="../../assets/arrow.png"> SERUM ELECTROLYTES</li>
        <div class="cont_a">
                <form action="/action_page.php">
                    S. Sodium: <input type="text" name="ele1"><br>
                    S. Potassium: <input type="text" name="ele2"><br>
                    Magnesium: <input type="text" name="ele3"><br>
                    Phosphorus: <input type="text" name="ele4"><br>
                    S. Calcium: <input type="text" name="ele5"><br>
                    Chloride: <input type="text" name="ele6"><br>
                    <input type="submit" value="Submit" class="sub">
                </form>
        </div>
    </ul>
</div>

