<!-- <span id="Home"></span> -->
<!-- <section id="showcase">
</section> -->
<div id="newPatient" ></div>
<div class="marginTop"></div>
   <header class="jumbotron">
        <h1 class="text-center display-3" > Patient's Details </h1>
    </header>
<br>
    <div class="marginBody">
   <p id="alginRight" ><strong> Date: </strong> {{d | date}}</p>


    <div class="container">
        <form id="survey-form">
            <div class="form-group d-flex">
            <h5>  <label for="patient" class="l1"> <strong> Name: </strong>&nbsp;</label></h5>
                <input class="form-control" type="text" id="kname" name="pname" placeholder="Patient's Name" [(ngModel)]="name" >
            </div>
            
<br>
            <div class="form-group d-flex">
                <h5>  <label for="gender" class="l1"> <strong> Gender: </strong>&nbsp;</label></h5>
                <select class="form-control  inputSame" id="gender" name="gen" [(ngModel)]="gen">
                  <option value="">Select</option>
                    <option value="male" >Male</option>
                    <option value="female" >Female</option>
                </select>
            </div>
<br>
            <div class="form-group d-flex">
                <h5>  <label for="specimen" class="l1"> <strong>Specimen: </strong>&nbsp;</label></h5>
                    <input class="form-control" id="specimen" type="text" id="name" name="spec" placeholder="Enter Specimen" [(ngModel)]="spec">
                </div>
<br>

            <div class="form-group d-flex">
                <h5>  <label for="srno" class="l1"> <strong>Phone no: </strong>&nbsp;</label></h5>
                    <input class="form-control" id="srno" type="text" id="name" name="ph" placeholder="Enter Ph. No." [(ngModel)]="phNum">
                </div>
            <br>
            <div class="form-group d-flex">
                <h5>  <label for="refDr" class="l1"> <strong>Ref. By Dr: </strong>&nbsp;</label></h5>
                    <input class="form-control" id="refDr" type="text" name="drname" id="name" placeholder="Dr. Name">
                </div> <br>
            <button mat-raised-button color="accent" (click)="onSubmit()">Submit</button> <br>
        </form>
        </div>
</div>