#container{
	width:80%;
	margin:30px auto;
    overflow:auto;
    padding: 20px;
}
table {
    width: 70%;
    margin-top: 30px;
    margin-left:auto;
    margin-right:auto;
    border:1px solid black;
}

table div td {
    /* float: left; */
    padding-left: 10px;
    width: 3%;
    text-align: left;   
}


button {
    align-self: center;
    margin-top: 10px;
    margin-right: 20px;
    white-space: nowrap;
    overflow: hidden;
}

span {
    font-weight: bold;
    float: right;
    width: 40%;
}
@media print {
    .hidden-print {
      display: none !important;
    }
  }