<section id="container">
  <button mat-fab (click)="printPage()">
    <mat-icon>print</mat-icon>
  </button> <br><br><br>
  <table cellspacing="6" style="border: 1px solid black;">
    <div *ngFor="let item of patients">
      <tr>
        <td style="padding-left:30px;">
          Name: <strong>{{item.Name | titlecase }}</strong> </td>
        <td>Date: <strong> {{item.Date | date: 'shortDate'}} </strong></td>

      </tr>
      <hr>


      <tr>
        <td style="padding-left:30px;">
          Age: <strong>{{item.Age }} </strong> </td>
        <td> Sex: <strong>{{item.Sex | titlecase }} </strong> </td>


      </tr>
      <hr>
      <tr>
        <td style="padding-left:30px;">Ref. Doctor: <strong> {{item.Refdoc | titlecase}} </strong></td>
        <td> Specimen: <strong> {{item.Specimen | titlecase }}</strong></td>
      </tr>
    </div>
  </table> <br> <br>

  <!-- HAEMATOLOGICAL REPORT -->
  <div *ngIf="haemoBool" style="text-align: center;">
    <strong> HAEMATOLOGY PROFILE</strong>
    <table>
      <tr *ngFor="let item of haemoArr">
        <div [hidden]="item.haemoarr[0] === null">
          <td>Haemoglobin: <span> {{item.haemoarr[0]}}&nbsp;gm/dl(M:13-18, F:12-15 gm%)</span></td>
        </div>
        <div [hidden]="item.haemoarr[1] === null">
          <td>T.L.C: <span>{{item.haemoarr[1]}}/cumm (4000-11000 of cumm)</span></td>
        </div>
        <div [hidden]="item.haemoarr[2] === null">
          <td>D.L.C: <span>{{item.haemoarr[2]}}/cumm</span></td>
        </div>
        <div [hidden]="item.haemoarr[3] === null">
          <td>Neutdophils: <span>{{item.haemoarr[3]}}% (40-70%)</span></td>
        </div>
        <div [hidden]="item.haemoarr[4] === null">
          <td>Lymphocytes: <span>{{item.haemoarr[4]}}% (20-40%)</span></td>
        </div>
        <div [hidden]="item.haemoarr[5] === null">
          <td>Monocytes: <span>{{item.haemoarr[5]}}% (02-10%)</span></td>
        </div>
        <div [hidden]="item.haemoarr[6] === null">
          <td>Eosinophills: <span>{{item.haemoarr[6]}}% (02-06%)</span></td>
        </div>
        <div [hidden]="item.haemoarr[7] === null">
          <td>Basophils: <span>{{item.haemoarr[7]}}% (upto 1%)</span></td>
        </div>
        <div [hidden]="item.haemoarr[8] === null">
          <td>M.P Card: <span>{{item.haemoarr[8]}}</span></td>
        </div>
        <div [hidden]="item.haemoarr[9] === null">
          <td>E.S.R: <span>{{item.haemoarr[9]}}&nbsp;mm 1st hours(N: 0-20mm)</span></td>
        </div>
        <div [hidden]="item.haemoarr[10] === null">
          <td>R.B.C.: <span>{{item.haemoarr[10]}}/cumm (N: 4.5-5.5 Million/cumm) </span></td>
        </div>
        <div [hidden]="item.haemoarr[11] === null">
          <td>Paletelet Count: <span>{{item.haemoarr[11]}}/cumm (N: 1,50,000-4,50,000)</span></td>
        </div>
        <div [hidden]="item.haemoarr[12] === null">
          <td>Absoulte Eosinophills: <span>{{item.haemoarr[12]}}/cumm (40-400/cumm)</span></td>
        </div>
        <div [hidden]="item.haemoarr[13] === null">
          <td>Bleeding Time: <span>{{item.haemoarr[13]}}&nbsp;min (N: 2-7 min)</span></td>
        </div>
        <div [hidden]="item.haemoarr[14] === null">
          <td>Coagulation Time: <span>{{item.haemoarr[14]}}&nbsp;min (N: 3-11 min) </span></td>
        </div>
        <div [hidden]="item.haemoarr[15] === null">
          <td>Blood Group: <span>{{item.haemoarr[15]}}</span></td>
        </div>
        <div [hidden]="item.haemoarr[16] === null">
          <td>Sputum for AFB: <span>{{item.haemoarr[16]}}</span></td>
        </div>
      </tr>
    </table>
  </div>

  <!-- BLOOD EXAMINATION REPORT -->

  <div *ngIf="bloodBool" style="text-align: center;">
    <br> <strong>BLOOD BIOCHEMICAL PROFILE</strong>
    <table>
      <tr *ngFor="let item of bloodArr">

        <div [hidden]="item.bloodarr[0] === null">
          <td> Blood Glucose Fasting: <span>{{item.bloodarr[0]}}mg/dl (N: 60-100mg/dl) </span> </td>
        </div>
        <div [hidden]="item.bloodarr[1] === null">
          <td> Blood Glucose(PP): <span>{{item.bloodarr[1]}}mg/dl (N: 70-140mg/dl) </span></td>
        </div>
        <div [hidden]="item.bloodarr[2] === null">
          <td> Blood Glucose Random: <span>{{item.bloodarr[2]}}mg/dl (N: 160mg/dl) </span></td>
        </div>
      </tr>
    </table>
  </div>

  <!-- LIQUID PROFILE -->
  <div *ngIf="liquidBool" style="text-align: center;">
    <br> <strong>LIQUID PROFILE</strong>
    <table>
      <tr *ngFor="let item of liquidArr">

        <div [hidden]="item.liquidarr[0] === null">
          <td> S. Cholesrerol: <span>{{item.liquidarr[0]}}mg/dl (N: &lt;200 mg/dl) </span> </td>
        </div>
        <div [hidden]="item.liquidarr[1] === null">
          <td>
            S. HDL Cholesrerol: <span>{{item.liquidarr[1]}}mg/dl (N: 29-67 mg/dl) </span></td>
        </div>
        <div [hidden]="item.liquidarr[2] === null">
          <td>S. VLDL Cholesrerol: <span>{{item.liquidarr[2]}}mg/dl (N: 5-32 mg/dl) </span></td>
        </div>
        <div [hidden]="item.liquidarr[3] === null">
          <td>S. LDL Cholesrerol: <span>{{item.liquidarr[3]}}mg/dl (N: &lt;130 mg/dl)</span></td>
        </div>
        <div [hidden]="item.liquidarr[4] === null">
          <td>S. Triglycerides: <span>{{item.liquidarr[4]}}mg/dl (N: 35-160 mg/dl)</span></td>
        </div>
        <div [hidden]="item.liquidarr[5] === null">
          <td>S. Chol HDL Ratio: <span>{{item.liquidarr[5]}}&nbsp;(N: &lt;5.1)</span></td>
        </div>
        <div [hidden]="item.liquidarr[6] === null">
          <td>S. LDL HDL Ratio: <span>{{item.liquidarr[6]}} (N: 2.5-3.5 High Rick &gt;3.5) </span></td>
        </div>
      </tr>
    </table>
  </div>

  <!-- LIVER FUNCTION TEST-->
  <div *ngIf="liverBool" style="text-align: center;">
    <br> <strong>LIVER FUNCTION TEST</strong>
    <table>
      <tr *ngFor="let item of liverArr">

        <div [hidden]="item.liverarr[0] === null">
          <td> Serum G.O.T(AST): <span>{{item.liverarr[0]}} &nbsp;U/L(N: 5-35 U/L) </span> </td>
        </div>
        <div [hidden]="item.liverarr[1] === null">
          <td>
            Serum G.P.T(ALT): <span>{{item.liverarr[1]}}&nbsp;U/L(N: 7-40 U/L)</span></td>
        </div>
        <div [hidden]="item.liverarr[2] === null">
          <td>Total S. Bilirubin: <span>{{item.liverarr[2]}}&nbsp;mg/dl(N: 0.2-1.0 mg/dl)</span></td>
        </div>
        <div [hidden]="item.liverarr[3] === null">
          <td>Direct: <span>{{item.liverarr[3]}}&nbsp;mg/dl(N: 0.2-0.4 mg/dl)</span></td>
        </div>
        <div [hidden]="item.liverarr[4] === null">
          <td>Indirect: <span>{{item.liverarr[4]}}&nbsp;mg/dl(N: 0.2-0.6 mg/dl)</span></td>
        </div>
        <div [hidden]="item.liverarr[5] === null">
          <td>S. Alk Phosphatase: <span>{{item.liverarr[5]}} &nbsp;IU/L</span></td>
        </div>
        <div [hidden]="item.liverarr[6] === null">
          <td> S. Total Proteins: <span>{{item.liverarr[6]}}&nbsp;G/dl (N: 6.0-8.0 G/dl)</span></td>
        </div>
        <div [hidden]="item.liverarr[7] === null">
          <td> Albumin: <span>{{item.liverarr[7]}}&nbsp;G/dl (N: 3.8-5.0 G/dl)</span></td>
        </div>
        <div [hidden]="item.liverarr[8] === null">
          <td>Globulin: <span>{{item.liverarr[8]}}&nbsp;G/dl (N: 2.3-3.5 G/dl)</span></td>
        </div>
        <div [hidden]="item.liverarr[9] === null">
          <td>AG RATIO: <span>{{item.liverarr[9]}}&nbsp; (N: 2.1-1.0)</span></td>
        </div>
      </tr>
    </table>
  </div>

  <!-- RENAL FUNCTION TEST-->
  <div *ngIf="renalBool" style="text-align: center;">
    <br> <strong>RENAL FUNCTION TEST</strong>
    <table>
      <tr *ngFor="let item of renalArr">

        <div [hidden]="item.renalarr[0] === null">
          <td> Blood Urea: <span>{{item.renalarr[0]}}&nbsp;mg/dl (N: 15-45 mg/dl)</span> </td>
        </div>
        <div [hidden]="item.renalarr[1] === null">
          <td>S. Creatinine: <span>{{item.renalarr[1]}}&nbsp;mg/dl (N: 0.2-1.6 mg/dl)</span></td>
        </div>
        <div [hidden]="item.renalarr[2] === null">
          <td>S. Uric Acid: <span>{{item.renalarr[2]}}&nbsp;mg/dl (N: 2.0-6.0 mg/dl)</span></td>
        </div>
        <div [hidden]="item.renalarr[3] === null">
          <td>S. Phosphorus: <span>{{item.renalarr[3]}}&nbsp;mg/dl (N: 2.5-4.5 mg/dl)</span></td>
        </div>
        <div [hidden]="item.renalarr[4] === null">
          <td>S. Calcium: <span>{{item.renalarr[4]}}&nbsp;mg/dl (N: 8-10 mg/dl)</span></td>
        </div>
        <div [hidden]="item.renalarr[5] === null">
          <td>S. Magnesium: <span>{{item.renalarr[5]}}&nbsp;M mol/l (N: 0.73-1.06 M mol/l)</span></td>
        </div>
      </tr>
    </table>
  </div>

  <!-- SERUM ELECTROLYTES-->
  <div *ngIf="serumBool" style="text-align: center;">
    <br> <strong>SERUM ELECTROLYTES</strong>
    <table>
      <tr *ngFor="let item of serumArr">

        <div [hidden]="item.serumarr[0] === null">
          <td> S. Sodium: <span>{{item.serumarr[0]}}&nbsp;mmol/L (N: 136-145 mmol/L)</span> </td>
        </div>
        <div [hidden]="item.serumarr[1] === null">
          <td>S. Potassium: <span>{{item.serumarr[1]}}&nbsp;mmol/L (N: 3.5-5.1 mmol/L)</span></td>
        </div>
        <div [hidden]="item.serumarr[2] === null">
          <td>Magnesium: <span>{{item.serumarr[2]}}&nbsp;mmol/L (N: 0.73-1.06 mmol/L)</span></td>
        </div>
        <div [hidden]="item.serumarr[3] === null">
          <td>Phosphorus: <span>{{item.serumarr[3]}}&nbsp;mmol/L (N: 2.3-4.7 mmol/L)</span></td>
        </div>
        <div [hidden]="item.serumarr[4] === null">
          <td>S. Calcium: <span>{{item.serumarr[4]}}&nbsp;mg% (N: 8-10 mg%)</span></td>
        </div>
        <div [hidden]="item.serumarr[5] === null">
          <td>Chloride: <span>{{item.serumarr[5]}}&nbsp;mmol/L (N: 97-111 mmol/L)</span></td>
        </div>
      </tr>
    </table>
  </div>

  <!-- SEROLOGICAL TEST -->
  <div *ngIf="serolBool" style="text-align: center;"> <br>
    <strong> SEROLOGICAL TEST</strong>
    <table>
      <tr *ngFor="let item of serolArr">

        <div [hidden]="item.serolarr[0] === null">
          <td>HIV: <span>{{item.serolarr[0]}}</span> </td>
        </div>
        <div [hidden]="item.serolarr[1] === null">
          <td>HCV: <span>{{item.serolarr[1]}}</span></td>
        </div>
        <div [hidden]="item.serolarr[2] === null">
          <td>Australia Antigen (Hbs Ag): <span>{{item.serolarr[2]}}</span></td>
        </div>
        <div [hidden]="item.serolarr[3] === null">
          <td>VDRL: <span>{{item.serolarr[3]}}</span></td>
        </div>
        <div [hidden]="item.serolarr[4] === null">
          <td>C-RP: <span>{{item.serolarr[4]}}</span></td>
        </div>
        <div [hidden]="item.serolarr[5] === null">
          <td>R.A. Factor: <span>{{item.serolarr[5]}}</span></td>
        </div>
        <div [hidden]="item.serolarr[6] === null">
          <td>Mantoux Test: <span>{{item.serolarr[6]}}&nbsp;mm (Dia: mm with 10U.PPD)</span></td>
        </div>
        <div [hidden]="item.serolarr[7] === null">
          <td>1g G: <span>{{item.serolarr[7]}}</span></td>
        </div>
        <div [hidden]="item.serolarr[8] === null">
          <td>1g M: <span>{{item.serolarr[8]}}</span></td>
        </div>
        <div [hidden]="item.serolarr[9] === null">
          <td>1g G: <span>{{item.serolarr[9]}}</span></td>
        </div>
        <div [hidden]="item.serolarr[10] === null">
          <td>1g M: <span>{{item.serolarr[10]}}</span></td>
        </div>
      </tr>
    </table>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!--URINE EXAMINATION REPORT-->
  <div *ngIf="urineBool" style="text-align: center;">
    <br> <strong>URINE EXAMINATION REPORT</strong>
    <table>
      <tr *ngFor="let item of urineArr">
        <div [hidden]="item.urinearr[0] === null">
          <td> <strong> Physical Examination</strong></td> <br>
          <td> Volume: <span>{{item.urinearr[0]}}</span></td>
        </div>
        <div [hidden]="item.urinearr[1] === null">
          <td>Reaction: <span>{{item.urinearr[1]}}</span></td>
        </div>
        <div [hidden]="item.urinearr[2] === null">
          <td>Colour: <span>{{item.urinearr[2]}}</span></td>
        </div>
        <div [hidden]="item.urinearr[3] === null">
          <td>Sugar: <span>{{item.urinearr[3]}}</span></td>
        </div>
        <div [hidden]="item.urinearr[4] === null">
          <td>Turbidity: <span>{{item.urinearr[4]}}</span></td>
        </div>
        <div [hidden]="item.urinearr[5] === null">
          <td>Albumin: <span>{{item.urinearr[5]}}</span></td>
        </div>
        <div [hidden]="item.urinearr[6] === null">
          <td>Deposit: <span>{{item.urinearr[6]}}</span></td>
        </div>
        <div [hidden]="item.urinearr[7] === null">
          <td>Acetone: <span>{{item.urinearr[7]}}</span></td>
        </div>
        <div [hidden]="item.urinearr[8] === null">
          <td>Odour: <span>{{item.urinearr[8]}}</span></td>
        </div>
        <div [hidden]="item.urinearr[9] === null">
          <td>Urobilinogen: <span>{{item.urinearr[9]}}</span></td>
        </div>
        <div [hidden]="item.urinearr[10] === null">
          <td>Specific Gravity: <span>{{item.urinearr[10]}}</span></td>
        </div>
        <div [hidden]="item.urinearr[11] === null">
          <td>Bile Pigments: <span>{{item.urinearr[11]}}</span></td>
        </div>
        <div [hidden]="item.urinearr[12] === null">
          <td>Bile Salts: <span>{{item.urinearr[12]}}</span></td>
        </div>
        <div [hidden]="item.urinearr[13] === null">
          <td>HPF: <span>{{item.urinearr[13]}}</span></td>
        </div>
        <div [hidden]="item.urinearr[14] === null">
          <td>RBSs: <span>{{item.urinearr[14]}}</span></td>
        </div>
        <div [hidden]="item.urinearr[15] === null">
          <td>Leucocytes/Plus Cells: <span>{{item.urinearr[15]}}</span></td>
        </div>
        <div [hidden]="item.urinearr[16] === null">
          <td>Epithelial Cells: <span>{{item.urinearr[16]}}</span></td>
        </div>
        <div [hidden]="item.urinearr[17] === null">
          <td>Others: <span>{{item.urinearr[17]}}</span></td>
        </div>
      </tr>
    </table>
  </div>

  <!-- SEMEN EXAMINATION REPORT-->
  <div *ngIf="semenBool" style="text-align: center;">
    <br> <strong>SEMEN EXAMINATION REPORT</strong>
    <table>
      <tr *ngFor="let item of semenArr">
        <div [hidden]="item.semenarr[0] === null">
          <td> Quantity: <span>{{item.semenarr[0]}}</span> </td>
        </div>
        <div [hidden]="item.semenarr[1] === null">
          <td>Appearance: <span>{{item.semenarr[1]}}</span></td>
        </div>
        <div [hidden]="item.semenarr[2] === null">
          <td>Liquefaction: <span>{{item.semenarr[2]}}</span></td>
        </div>
        <div [hidden]="item.semenarr[3] === null">
          <td>Reaction: <span>{{item.semenarr[3]}}</span></td>
        </div>
        <div [hidden]="item.semenarr[4] === null">
          <td>Active Sperm: <span>{{item.semenarr[4]}}</span></td>
        </div>
        <div [hidden]="item.semenarr[5] === null">
          <td>Dead Sperm: <span>{{item.semenarr[5]}}</span></td>
        </div>
        <div [hidden]="item.semenarr[6] === null">
          <td>Slugish: <span>{{item.semenarr[6]}}</span></td>
        </div>
        <div [hidden]="item.semenarr[7] === null">
          <td>Epithelial Cell: <span>{{item.semenarr[7]}}</span></td>
        </div>
        <div [hidden]="item.semenarr[8] === null">
          <td>Pus Cells: <span>{{item.semenarr[8]}}</span></td>
        </div>
        <div [hidden]="item.semenarr[9] === null">
          <td>RBCs: <span>{{item.semenarr[9]}}</span></td>
        </div>
        <div [hidden]="item.semenarr[10] === null">
          <td>Any Other Abnormality: <span>{{item.semenarr[10]}}</span></td>
        </div>
        <div [hidden]="item.semenarr[11] === null">
          <td>Total Spermatic Count: <span>{{item.semenarr[11]}}/ml</span></td>
        </div>
      </tr>
    </table>
  </div> <br> <br>
  <p style="text-align: center;"><strong> End Of Report</strong></p>
</section>